body {
  background-image: url('https://picsum.photos/1980/1080?grayscale');
  font-size: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.todo {
  width: 80%;
}

.todo_title {
  color: white;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: none;
}

.weather {
  display: none;
}

.input-field {
  width: 90%;
}

.collection .collection-item {
  opacity: 0.7;
  display: block;
  justify-content: unset;
  align-items: center;
}

textarea.materialize-textarea {
  color: white;
}

.popup_title {
  color: black;
  text-align: center;
}

.popup {
  background-color: white;
  opacity: 0.98;
  width: 60%;
  height: 250px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 1;
  border-radius: 3px;
  transition: 1s;
  animation: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.98;
  }
}

.x {
  content: "x";
  display: block;
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
}

.x:hover {
  color: #1976d2;
  transition: 1s;
}

.popup_button {
  text-align: center;
}

.done {
  position: relative;
  display: none;
  text-decoration-line: line-through;
}

#list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .collection .collection-item {
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
  }

  .done {
    display: inline-block;
    text-decoration-line: none;
  }

  .done::before {
    content: "";
    border-bottom: 3px solid #1976d2;
    left: 2%;
    margin-top: calc(-0.525em / 2 * -1);
    position: absolute;
    right: 0;
    top: 40%;
    width: 45%;
  }

  .info {
    display: flex;
    width: 30%;
  }

  .weather {
    display: flex;
    width: 30%;
  }

  .todo {
    width: 60%;
  }

  #list {
    text-align: unset;
  }

  .popup {
    width: 50%;
    height: 200px;
    left: unset;
    animation: fadeIn 0.3s;
  }
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px #e0e0e0 solid;
  color: black;
  background: white;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  z-index: 0;
  transition: transform .2s;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
  margin-right: 3px;
  margin-top: 3px;
}

.result:hover {
  transform: scale(1.1);
  z-index: 1;
  cursor: pointer;
  border: 1px white solid;
  background-color: #1976d2;
  opacity: 0.6;
  color: white;
}

.today {
  color: #1976d2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px black solid;

  border-radius: 5px;
  width: 40px;
  height: 40px;
  z-index: 1;

}

.month {
  text-align: center;
  color: white;
  font-size: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
}